<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Title</title>
</head>
<body>
<div class="container d-flex justify-content-center">
<div class="table-responsive clearfix col-lg-12 col-md-12 col-sm-12">
<table class="table table-hover">
    <thead class="table-light">
    <tr>
        <th style="width: 5%">#</th>
        <th style="width: 20%">제목</th>
        <th style="width: 25%">저자</th>
        <th style="width: 30%">내용</th>
        <th style="width: 10%">수정</th>
        <th style="width: 10%">삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="postDto, i: ${form}">
        <td th:text="${postDto.id}"></td>
        <td th:text="${postDto.title}"></td>
        <td th:text="${postDto.author}"></td>
        <td th:text="${postDto.content}"></td>
        <td><a class="bi bi-hammer" th:href="@{/v4/post/{postId}(postId = ${postDto.id})}"></a></td>
        <td><a class="bi bi-trash" th:href="@{/v4/post/delete/{postId}(postId = ${postDto.id})}"></a></td>
    </tr>
    </tbody>
</table>
    <div th:if="${pageData != null}" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="num : ${#numbers.sequence(0, pageData-1)}" th:if="${pageData > 0}">
                <a class="page-link" th:text="${pageData > 0 ? num + 1 : 1}" th:href="@{/v4/posts/page/{pageNumber}(pageNumber=${num})}"></a>
            </li>
            <li class="page-item" th:if="${pageData == 0}">
                <a class="page-link" th:text="1"></a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-end">
        <button class="button btn btn-success" th:onclick="|location.href='@{/home}'|">홈으로</button>
    </div>
</div>
</div>
</body>
</html>